# documentation: https://docs.example.com/
# slogan: A brief description of your service.
# tags: tag1,tag2,tag3
# logo: svgs/your-service.svg
# port: 1234

services:
  # https://coolify.io/docs/get-started/contribute/service
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    command:
      - '--path.rootfs=/host'
    pid: host
    volumes:
      - /:/host:ro,rslave
    environment:
      - TZ=${TZ}
    depends_on:
      - prometheus

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command: -max_procs=1 -docker_only=true
    environment:
      - TZ=${TZ}
    depends_on:
      - prometheus

  pdc:
    # https://grafana.com/docs/grafana-cloud/connect-externally-hosted/private-data-source-connect/#private-data-source-connect-pdc-concepts
    image: grafana/pdc-agent:latest
    depends_on:
      - prometheus
      - loki
    environment:
      - GRAFANA_PDC_TOKEN=${GRAFANA_PDC_TOKEN}
      - GRAFANA_PDC_CLUSTER=${GRAFANA_PDC_CLUSTER}
      - GRAFANA_PDC_GCP_ID=${GRAFANA_PDC_GCP_ID}
    command: ["-token","${GRAFANA_PDC_TOKEN}","-cluster","${GRAFANA_PDC_CLUSTER}","-gcloud-hosted-grafana-id","${GRAFANA_PDC_GCP_ID}"]

  prometheus:
    image: prom/prometheus:main
    user: "0:0"
    volumes:
      - ${COOLIFY_VOLUME_APP}/prometheus:/prometheus
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - type: bind
        source: ./prometheus/config.yml
        target: /etc/prometheus/prometheus.yml
        content: |
          global:
            scrape_interval: 15s
            evaluation_interval: 15s
          rule_files:
            - 'alert.rules'
          scrape_configs:
            - job_name: 'cadvisor'
              scrape_interval: 5s
              static_configs:
                - targets:
                  - cadvisor:8080
            - job_name: 'node_exporter'
              scrape_interval: 5s
              static_configs:
                - targets:
                  - node_exporter:9100
            - job_name: 'speedtest'
              scrape_interval: 1h
              scrape_timeout: 1m
              static_configs:
                - targets:
                  - speedtest:9798

      - type: bind
        source: ./prometheus/alert.rules.yml
        target: /etc/prometheus/alert.rules.yml
        content: |
          groups:
          - name: traefik
            rules:
            - alert: service_down
              expr: up == 0
              for: 2m
              labels:
                severity: page
              annotations:
                summary: "Instance {{ $$labels.instance }} down"
                description: "{{ $$labels.instance }} of job {{ $$labels.job }} has been down for more than 2 minutes"

    command:
      - "--web.route-prefix=/"
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.enable-lifecycle"
    environment:
      - TZ=${TZ}

  speedtest:
    image: miguelndecarvalho/speedtest-exporter
    environment:
      - SPEEDTEST_PORT=9798
